@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}
header{

    background-color:rgb(255, 99,71,0);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;

}

.logo{
    text-decoration: none;
    color:rgb(225, 250, 0);
 /* text-trsform : uppercase; */
font-weight: 800PX;
font: langu 2.2em;
font-family: Papyrus
;
}
 
.navigation a{
    color:rgb(225, 250, 0);
    text-decoration:none;
    font-size:1.1em;
    font-weight:500;
    padding-left: 30px;

}
.navigation a:hover{
    color: rgb(255, 255, 255);
}
section{
padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image:  url(./images/—Pngtree—3d\ illustration\ of\ web\ development_13314757.jpg) ;

background-size: cover;
background-position: center;

}


.main h2{
    color:white;
    font-size: 1em;
    font-weight: 500;

}
.main h2 span{
    display:inline-block;
    margin-top: 10px;
    color:rgb(225, 250, 0);
    font-size: 2em;
    font-weight: 600;
    font-family: Courier New
    ;

}
.main h3{
    color:#EAEBED;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: Courier New
    ;

}
.main-btn{
    color:rgb(0, 0, 0);
    background-color:rgb(184, 202, 16);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em  2.1875em;
    letter-spacing: 1px;
    border: radius 1px;
    margin-bottom: 40px;
    transition: 0.9s ease;
    font-family: Lucida Handwriting
    ;
}
.main-btn:hover{
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);

}
.social .icons{
color: blue;
    font-size: 3em;
    padding-right: 30px;


}

.title{
display: flex;
justify-content: center;
align-items: center;
color:rgb(225, 250, 0);
font-size: 2.2em;
font-weight: 800;
margin-bottom: 30px;
}

.card-text{
    color: rgb(30, 39, 39);
}
.btn.btn-primary{
    color: rgb(0, 0, 0);
    background-color:rgb(184, 202, 16) ;
}
.btn.btn-primary:hover{
    background-color: #e4e7169a;
}

.projects{
    background-color: rgb(255, 255, 255);
    font-family: Courier New

}
.projects .content{
    margin-top: 60px;
}
.prjects-card{
    background-color:rgb(225, 250, 0);
    border: 1px solid #fff ;
    min-height: 25em;
    width: 24em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
    transition: 0.8s ease;
}

.prjects-card:hover{
    transform: scale(1.1);
}
.projects-card:hover .projects-image{
    opacity: 0.2;
}
.projects-image img{
    width: 100%;
}
projects.info{
    padding: 1em;
    justify-items: center;
}   
.projects-catgeory{
    font-size: 0.8em;
    color: #000;
    font-family: Lucida Handwriting;
}
SPAN{
    font-family: Lucida Handwriting    ;
}
.projects-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-detalies{
    margin-right: 20PX;
    font-family: Lucida Handwriting;
    text-decoration: none;
    color: rgb(185, 23, 23);
    background-color: #EAEBED;
    border-radius: 80px;
}
.more-detalies:hover{
    color: darkmagenta;
}
.footer{
    background-color: black;
}
.left-section{
    float: left;
    color: #EAEBED;
    margin-left: 1%;
}
.BGUP{
    margin-left: 37%;
    text-decoration: none;
    border-radius: 40px;
    background-color: #131313;
    color: #fff;

}
.BGUP:hover{
    color: rgb(183, 231, 9);
}
.right-section{
    margin-left: 50px;
}
.cc{
    margin-left: 93%;
    color: #fff;
}
.cc:hover{
    color: rgb(183, 231, 9);
}
@media(max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    
}
@media(max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 1.4em;
    }
}
@media(max-width:300px){
    body{
        font-size: 10px;
    }
}
